<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>SCOPS Antihelmintics</title>
  </head>
  <body>

    <div class="d-flex flex-column text-light bg-dark" style="height: 100vh;">

      <div class="m-4">

        <h1 class="d-none d-lg-block">SCOPS Antihelmintics Information Site</h1>
        <h5 class="d-lg-none">SCOPS Antihelmintics Information Site</h5>
        <p class="d-none d-lg-block">The objective of this site is to deliver up-to-date information on antihelmintic drugs available for a range of parasites that afflict sheep.</p><br>

        <h4 class="d-none d-lg-block">Please select one or more parasites:</h4><br>
        <p class="d-lg-none">Please select one or more parasites:</p><br>

        <form action="{% url 'drug_database:list' %}", method="post">
        {% csrf_token %}
        {% for name in sheep_pathogen %}
          <input type="checkbox" name="pathogen" id="sheep_pathogen{{ forloop.counter }}" value="{{ name }}">
            <label for="sheep_pathogen{{ forloop.counter }}">{{ name }}</label><br>
        {% endfor %}
        <br>
        <p>Do you require additional info?</p>
        <input type="checkbox" name="info" id="trace_elements" value="Trace elements">
          <label for="trace_elements">Trace elements</label><br>
        <input type="checkbox" name="info" id="meat_withdrawl_period" value="Meat withdrawl period">
          <label for="meat_withdrawl_period">Meat withdrawl period</label><br>
        <br>
        <input type="submit" value="Get list">
        </form>

      </div>
    </div>

    <!-- Bootstrap JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
